<!DOCTYPE html>
<html  ng-app ="toDoList">
<head>
	<meta charset="utf-8">
	<title>Blog</title>
	
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller = "toDoController">

	<form ng-submit="addActividad()" >
		<input type="text" ng-model="nAct.actividad">
		<input type="datetime-local" ng-model="nAct.fecha">
		<input type="submit" value="Guardar Actividad">
	</form>
	<button ng-click="limpiar()">Borrar datos</button>
	<ul>
		<li ng-repeat = "a in todo">
			<p>{{ a.actividad }} || {{ a.fecha | date: 'short'}}</p>
		</li>
	</ul>

</body>
</html>